* { 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: seashell;
}

body, .main {
    height: 100%;
    width: 100%;
}

.main {
    display: inline-flex;
    justify-content: end;
}

.main > div:last-child {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

div[class^="board"] {
    width: 350px;
    height: 435px;
    border: 2px solid #1d0303;
    padding: 5px;
    background-color: white;
}

.label, .image, .square {
    width: 40px;
    height: 40px;
}

.label {
    margin: 10px;

    background-repeat: no-repeat;
    background-size: contain;
}

.image {
    object-fit: contain;
    object-position: center;
}

.square {
    border: 1px solid rgb(59, 41, 41);
    margin: 1px;
    float: left;
}

.bar {
    border-right: 15px solid #a2f8;
    width: 200px;
    height: 100%;
    
    padding: 0 30px 40px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

h1 {
    text-align: center;
    color: #1d0303;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 -12.5px 0 0 #ffbf00;
}

img, label, input[type="checkbox"] {
    cursor: pointer;
}

.toolbar {
    border-top: 2px solid salmon;
    margin-top: 75px;
}

.var {
    margin: 20px;
}

#output {
    background-color: white;
}
